.loginPageCard {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.signupFromCard {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
